In [1]:
import yaml
import json
import pandas as pd
import numpy as np
from pprint import pprint
from typing import Any, Union, Callable, NamedTuple
from enum import Enum, auto
from collections import namedtuple, defaultdict
from random import choice
from abc import ABC, ABCMeta, abstractmethod
from sklearn import datasets
from pydantic import (
    BaseModel,
    ValidationError,
    field_validator,
    field_serializer,
    model_validator,
    computed_field,
    ValidatorFunctionWrapHandler,
    ValidationInfo,
    Field,
    ConfigDict,
)

In [2]:
from pyspark.context import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.sql.window import Window
from pyspark.sql import udf
from pyspark.sql import DataFrame
from pyspark.sql import Row, Column
from pyspark.sql.utils import AnalysisException
from pyspark.pandas.typedef import as_spark_type

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [3]:
pd.DataFrame.iteritems = pd.DataFrame.items

In [4]:
spark = (
    SparkSession.builder.appName("Testes")
    .config('spark.sql.adaptive.enabled', 'true')
    .config('spark.sql.adaptive.optimizerEnabled', 'true')
    .config('spark.sql.execution.arrow.enabled', 'true')
    .config('spark.sql.execution.arrow.pyspark.enabled', 'true')
    .config("spark.sql.parquet.datetimeRebaseModeInRead", "CORRECTED")
    .config("spark.sql.parquet.datetimeRebaseModeInWrite", "CORRECTED")
    .config("spark.sql.legacy.timeParserPolicy", "CORRECTED")
    .config("spark.sql.repl.eagerEval.enabled", "true")
    .config("spark.sql.debug.maxToStringFields", "100000")
    .config("park.sql.execution.arrow.pyspark.fallback.enabled", "false")
    .enableHiveSupport()
    .getOrCreate()
)

spark.sparkContext.setLogLevel("ERROR")

Warning: Ignoring non-Spark config property: park.sql.execution.arrow.pyspark.fallback.enabled

24/08/17 18:17:33 WARN Utils: Your hostname, dell resolves to a loopback address: 127.0.1.1; using 192.168.15.6 instead (on interface wlp0s20f3)
24/08/17 18:17:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/08/17 18:17:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Load data

In [5]:
iris_data = datasets.load_iris(as_frame=True) # classification
df_iris = iris_data.frame

# bcancer_data = datasets.load_breast_cancer(as_frame=True) # classification
# df_bcancer = bcancer_data.frame

# diabetes_data = datasets.load_diabetes(as_frame=True) # regression
# df_diabetes = diabetes_data.frame

# wine_data = datasets.load_wine(as_frame=True) # classification
# df_wine = wine_data.frame

In [6]:
dfp = df_iris.rename({
    "sepal length (cm)": "sepal_length",
    "sepal width (cm)": "sepal_width",
    "petal length (cm)": "petal_length",
    "petal width (cm)": "petal_width",
}, axis=1)

In [7]:
dfp.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

In [8]:
# https://stackoverflow.com/questions/39109045/numpy-where-with-multiple-conditions

def energy_class(x: float):
    if x > 6:
        return 'high'
    elif x > 5:
        return 'medium'
    else:
        return 'low'


dfp['tipo'] = pd.cut(dfp['sepal_length'], bins=[0, 5, 6, np.inf], labels=['low', 'medium', 'high'])
# dfp['tipo'] = np.where(dfp['sepal_length'] > 7, 'high', np.where(dfp['sepal_length'] > 5, 'medium', 'low'))
# dfp['tipo'] = dfp['sepal_length'].apply(energy_class)
# dfp['tipo'] = np.select([dfp['sepal_length'] > 7, dfp['sepal_length'] > 5], ['high', 'medium'], default='low')
# dfp['tipo'] = np.vectorize(lambda x: 'high' if x > 5 else ('medium' if x > 3 else 'low'))(dfp['sepal_length'])
# dfp['tipo'] = dfp['sepal_length'].apply(lambda x: 'high' if x > 6 else ('medium' if x > 5 else 'low'))

In [9]:
dfp['tipo'].value_counts()

tipo
high      61
medium    57
low       32
Name: count, dtype: int64

In [10]:
def suit():
    return choice(('Spade', 'Heart', 'Diamond', 'Club'))

dfp['suit'] = [suit() for _ in range(len(dfp))]

In [11]:
dfp['id'] = [i for i, _ in enumerate(range(len(dfp)), start=1)]

In [12]:
# Missing
dfp.iloc[3, 6] = None
dfp.iloc[9, 6] = None

# Duplicates
dfp.iloc[1, 7] = 1

In [13]:
dfp.head(10)

,sepal_length,sepal_width,petal_length,petal_width,target,tipo,suit,id
0,5.1,3.5,1.4,0.2,0,medium,Heart,1
1,4.9,3.0,1.4,0.2,0,low,Club,1
2,4.7,3.2,1.3,0.2,0,low,Spade,3
3,4.6,3.1,1.5,0.2,0,low,None,4
4,5.0,3.6,1.4,0.2,0,low,Diamond,5
5,5.4,3.9,1.7,0.4,0,medium,Diamond,6
6,4.6,3.4,1.4,0.3,0,low,Diamond,7
7,5.0,3.4,1.5,0.2,0,low,Spade,8
8,4.4,2.9,1.4,0.2,0,low,Club,9
9,4.9,3.1,1.5,0.1,0,low,None,10

In [14]:
df = spark.createDataFrame(dfp)

## Dev

In [15]:
class ExtendEnum(Enum):

    def _generate_next_value_(name: str, start, count, last_values):
        return name.lower()
    
    @classmethod
    def __getitem__(cls, name: str):
        return cls(name.lower())
    
    @classmethod
    def to_dict(cls):
        return {e.name: e.value for e in cls}
    
    @classmethod
    def keys(cls):
        return cls._member_names_
    
    @classmethod
    def values(cls):
        return list(map(lambda c: c.value, cls))
    
    def __str__(self):
        return str(self.value)
    
    def __repr__(self) -> str:
        return str(self.value)

In [16]:
class MetricType(ExtendEnum):
    COLUMN = "COLUMN"
    TABLE = "TABLE"

In [17]:
class MetricName(ExtendEnum):
    MISSING = auto()
    VOLUMETRY = auto()
    DUPLICITY = auto()
    MEAN = auto()
    TESTE = auto()

In [18]:
class MetricMetaClass(type):

    def __new__(cls, *args, **kwargs):
        return super().__new__(cls, *args, **kwargs)
    
    def __call__(cls, *args, **kwargs):
        return cls.evaluate(*args, **kwargs)
    
    @abstractmethod
    def evaluate(self):
        raise NotImplementedError

In [19]:
class CombineMeta(ABCMeta, MetricMetaClass):
    pass

In [20]:
class MetricBase(ABC):

    spark_session = SparkSession.getActiveSession()

    @classmethod
    def all_metrics(cls) -> list:
        return list(set([subclass.name for subclass in cls.__subclasses__()]))

    @classmethod
    def metrics_by_type(cls, metric_type: MetricType) -> list:
        metrics = []
        for subclass in cls.__subclasses__():
            if metric_type == subclass.type:
                metrics.append(subclass.name)
        return metrics

    @classmethod
    def get_metric(cls, metric_name: str) -> 'MetricBase':
        for subclass in cls.__subclasses__():
            if metric_name == subclass.name:
                return subclass

    @property
    @abstractmethod
    def name(self) -> str:
        raise NotImplementedError

    @staticmethod
    @abstractmethod
    def calculate(self, df: DataFrame, col: str | list) -> Any:
        "Metodo executa metrica"
    
    @staticmethod
    @abstractmethod
    def evaluate(self) -> Any:
        "Metodo executa metrica"

In [21]:
class ColumnMissing(MetricBase, metaclass=CombineMeta):
    
    name: MetricName = MetricName.MISSING.value
    type: MetricType = MetricType.COLUMN
    schema: T.StructField = T.StructField(name, T.FloatType(), True)
    
    @classmethod
    def calculate(cls):
        print(type(cls.spark))

    @staticmethod
    def evaluate(df: DataFrame, col: str) -> int:
        missing = df.select(col).where(F.col(col).isNull()).count()
        return missing

In [22]:
class TableVolumetry(MetricBase, metaclass=CombineMeta):
    
    name: MetricName = MetricName.VOLUMETRY.value
    type: MetricType = MetricType.TABLE
    schema: T.StructField = T.StructField(name, T.FloatType(), True)
    
    @classmethod
    def calculate(cls):
        print(type(cls.spark))

    @staticmethod
    def evaluate(df: DataFrame, *args, **kwargs) -> int:
        count = df.count()
        return count

In [23]:
class ColumnDuplicity(MetricBase, metaclass=CombineMeta):
    
    name: MetricName = MetricName.DUPLICITY.value
    type: MetricType = MetricType.COLUMN
    schema: T.StructField = T.StructField(name, T.FloatType(), True)
    
    @classmethod
    def calculate(cls):
        print(type(cls.spark))

    @staticmethod
    def evaluate(df: DataFrame, col: Union[str, list]) -> int:
        if isinstance(col, str):
            col = col = [col]
        distinct = df.select(col).dropDuplicates(subset=col).count()
        total = df.count()
        return total - distinct

In [24]:
class ColumnTeste(MetricBase, metaclass=CombineMeta):
    
    name: MetricName = MetricName.TESTE.value
    type: MetricType = MetricType.COLUMN
    schema: T.StructField = T.StructField(name, T.FloatType(), True)
    
    @classmethod
    def calculate(cls):
        print(type(cls.spark))

    @staticmethod
    def evaluate(df: DataFrame, *args, **kwargs) -> int:
        ...

In [25]:
class ColumnMean(MetricBase, metaclass=CombineMeta):
    
    name: MetricName = MetricName.MEAN.value
    type: MetricType = MetricType.COLUMN
    schema: T.StructField = T.StructField(name, T.FloatType(), True)
    
    @classmethod
    def calculate(cls):
        print(type(cls.spark))

    @staticmethod
    def evaluate(df: DataFrame, col: str) -> int:
        mean = df.select(F.mean(col)).first()[0]
        return mean

In [26]:
all_metrics = MetricBase.all_metrics()
all_metrics

['teste', 'mean', 'duplicity', 'volumetry', 'missing']

## Config

In [27]:
file_path = "mrm.yaml"

with open(file_path) as f:
    config = yaml.safe_load(f)

In [28]:
config

{'reference': {'database': 'workspace_db',
  'table': 'tb_spec_dataset',
  'train_data': {'start': 202001, 'end': 202212}},
 'metrics': {'table': ['volumetry'],
  'keys': {'names': ['id'],
   '_keys': ['duplicity'],
   'individual': {'id': ['missing']}},
  'features': {'numerigcal': {'sepal_length': ['mean', 'missing'],
    'sepal_width': ['mean'],
    'petal_length': ['mean']},
   'categorical': {'tipo': ['missing'], 'suit': ['missing']}},
  'target': {'target': ['missing']}}}

## Measures

In [29]:
column_metrics = MetricBase.metrics_by_type(MetricType.COLUMN)
table_metrics = MetricBase.metrics_by_type(MetricType.TABLE)

In [30]:
def process_dict(config: dict, condition: Callable, output: dict | None = None):
    if output is None:
        output: dict[str, list] = {}
    for key, value in config.items():
        if condition(key):
            if isinstance(value, dict):
                process_dict(value, condition, output)
            if isinstance(value, list):
                for item in value:
                    if key not in output:
                        output[key] = []
                    output[key].append(item)
    return output


def process_config_metrics(metric_config: dict, type: MetricType) -> dict:
    if type == MetricType.COLUMN:
        condition = lambda x: x not in {"table", "names"}
    else:
        condition = lambda x: x == "table"

    metrics_output: dict[str, list[str]] = process_dict(metric_config, condition)
    return {key: list(set(value)) for key, value in metrics_output.items()}

In [32]:
metrics_column_map = process_config_metrics(config['metrics'], MetricType.COLUMN)
metrics_table_map = process_config_metrics(config['metrics'], MetricType.TABLE)

In [35]:
pprint(metrics_table_map)

{'table': ['volumetry']}

In [45]:
metrics_map = metrics_column_map | {"_table": metrics_table_map["table"]}

In [46]:
pprint(metrics_map)

{'_keys': ['duplicity'],
 '_table': ['volumetry'],
 'id': ['missing'],
 'petal_length': ['mean'],
 'sepal_length': ['mean', 'missing'],
 'sepal_width': ['mean'],
 'suit': ['missing'],
 'target': ['missing'],
 'tipo': ['missing']}

## Measures

In [64]:
metrics_map

{'_keys': ['duplicity'],
 'id': ['missing'],
 'sepal_length': ['mean', 'missing'],
 'sepal_width': ['mean'],
 'petal_length': ['mean'],
 'tipo': ['missing'],
 'suit': ['missing'],
 'target': ['missing'],
 '_table': ['volumetry']}

In [100]:
reponse_fileds = ["atributo", "classificacao", "tipo", "metrica_medida", "valor_medido"]
ResponseTemplate = namedtuple("ResponseTemplate", reponse_fileds)
# ResponseTemplate.__new__.__defaults__ = (None, ) * len(reponse_fileds)

In [101]:
class Measures:

    def __init__(self):
        # self._name = name
        # self._metrics: list[MetricBase] = []
        for metric in MetricName.values():
            setattr(self, metric, None)

    def set_attribute(self, attr_name, value) -> None:
        if hasattr(self, attr_name):
            setattr(self, attr_name, value)
        else:
            raise AttributeError(f"Attribute {attr_name} does not exist.")

    # def add(self, metric: MetricBase) -> None:
    #     self._metrics.append(metric)

    def calculate(self, df: DataFrame, column: str) -> list[dict]:
        # results = [metric() for metric in self._metrics]
        response: list[dict] = []
        for metric_name, metric in self.__dict__.items():
            metric_result = metric(df, column)
            result = {
                "atributo": column,
                "classificacao": "NAO SEI AINDA",
                "tipo": metric.type.value,
                "metrica_medida": metric_name,
                "valor_medido": metric_result
            }
            response.append(result)
        return response

In [102]:
class HandlerMeasure:

    def __init__(self, metrics_map: dict):
        self._metrics_map = self.clean_metrics(metrics_map)

    @staticmethod
    def clean_metrics(metrics_map: dict) -> dict[str, list]:
        return {key: [] for key in metrics_map.keys()}

    def add(self, column: str, measure: Measures) -> None:
        self._metrics_map[column] = measure

    def run(self, df: DataFrame):
        # response_template = {metric_name: None for metric_name in all_metrics}
        response = {}

        for column, measure in self._metrics_map.items():
            response[column] = measure.calculate(df, column)

In [103]:
y = HandlerMeasure(metrics_map)

In [62]:
m1 = Measures()

In [60]:
m1.__dict__

{'missing': None,
 'volumetry': None,
 'duplicity': None,
 'mean': None,
 'teste': None}

In [43]:
# m1.missing = 1
# m1.set_attribute("missing", 2)

In [50]:
metrics_map

{'_keys': ['duplicity'],
 'id': ['missing'],
 'sepal_length': ['mean', 'missing'],
 'sepal_width': ['mean'],
 'petal_length': ['mean'],
 'tipo': ['missing'],
 'suit': ['missing'],
 'target': ['missing'],
 '_table': ['volumetry']}

In [104]:
handler_measures = HandlerMeasure(metrics_map)

for column, metrics in metrics_map.items():
    measures = Measures()
    for metric_name in metrics:       
        Metric = MetricBase.get_metric(metric_name)
        measures.set_attribute(metric_name, Metric)
    handler_measures.add(column, measures)

In [105]:
handler_measures._metrics_map['_keys'].__dict__

{'missing': None,
 'volumetry': None,
 'duplicity': __main__.ColumnDuplicity,
 'mean': None,
 'teste': None}

In [107]:
handler_measures.run(df)

TypeError: 'NoneType' object is not callable